
.success-container {
  min-height: 100vh;
  background: radial-gradient(circle at top, #00f5ff, #0b0b0f 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.success-card {
  width: 100%;
  max-width: 420px;
  background: rgba(255,255,255,0.08);
  border-radius: 28px;
  padding: 30px;
  text-align: center;
  color: white;
  backdrop-filter: blur(22px);
  border: 1px solid rgba(255,255,255,0.15);
  box-shadow: 0 20px 50px rgba(0,0,0,0.7);
  animation: pop 0.6s ease;
}

@keyframes pop {
  from {transform: scale(0.7); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}

.checkmark {
  width: 80px;
  height: 80px;
  background: linear-gradient(135deg, #00f5a0, #00d9f5);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 40px;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 0 0 25px #00f5ffaa;
}

.success-card h1 {
  font-size: 1.8rem;
  margin-bottom: 6px;
}

.sub {
  opacity: 0.7;
  margin-bottom: 25px;
}

.ticket {
  background: rgba(0,0,0,0.5);
  border-radius: 18px;
  padding: 20px;
  margin-bottom: 25px;
  border: 1px dashed rgba(255,255,255,0.2);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
}

.row span {
  opacity: 0.6;
}

.row b {
  color: #00f5ff;
}

.success-card button {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  font-weight: 700;
  color: black;
  background: linear-gradient(135deg, #00f5ff, #00ffa6);
  cursor: pointer;
  transition: 0.2s;
}

.success-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00f5ffaa;
}
.success-poster {
  width: 180px;
  border-radius: 14px;
  margin-bottom: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.7);
}